<% content_for :title, 'Nouvel exercice' %>
<div class="page-title">
  <div class="title">
    Nouvel exercice
  </div>
  <div class="links">
    <%= link_to material_icon.arrow_back, [:teacher, @chapter] %>
  </div>
</div>
<%= render 'form' %>
