<% content_for :title, "Modifier une seance" %>
<% content_for :parent_url, teacher_lesson_path(@step.lesson) %>
<div class="row">
  <div class="column xs12 l8 offset-l2">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Modifier une séance</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
