<% content_for :title, "Nouvelle seance" %>
<div class="page-title">
  <div class="title">Nouvelle séance</div>
  <div class="links">
    <%= link_to material_icon.arrow_back, [:teacher, @step.lesson] %>
  </div>
</div>
<div class="row">
  <div class="column xs12 l8 offset-l2">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Nouvelle séance</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
