<% content_for :title, "Modifier un attendu" %>
<% content_for :parent_url, admin_theme_path(@expectation.theme) %>
<div class="row">
  <div class="column xs11 offset-l1 l10">
    <div class="card">
      <%= render 'form' %>
    </div>
  </div>
</div>
