<% content_for :title, "Nouveau cours" %>
<% content_for :parent_url, teacher_lessons_path %>
<div class="row">
  <div class="column xs12 l8 offset-l2">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Nouveau cours</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
