<% content_for :title, 'Modifier une composante du socle' %>
<% content_for :parent_url, admin_core_components_path %>
<div class="row">
  <div class="column xs12 l8 offset-l2">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Modifier une composante du socle</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
