<% content_for :title, 'Nouvelle composante du socle' %>
<div class="page-title">
  <div class="title">
    Nouvelle composante du socle
  </div>
  <div class="links">
    <%= link_to material_icon.arrow_back, admin_core_components_path %>
  </div>
</div>
<div class="row">
  <div class="column xs12 l8 offset-l2">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Nouvelle composante du socle</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
