<% content_for :title, 'Modifier un cycle' %>
<% content_for :parent_url, admin_cycles_path %>
<div class="row">
  <div class="column xs12 l8 offset-l2">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title"><%= @cycle.name %></h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
