<% content_for :title, 'Nouveau cycle' %>
<div class="page-title">
  <div class="title">Nouveau cycle</div>
  <div class="links">
    <%= link_to material_icon.arrow_back, admin_cycles_path %>
  </div>
</div>
<div class="row">
  <div class="column xs12 l8 offset-l2">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Nouveau cycle</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
