<% content_for :title, @chapter_lesson.name %>
<div class="page-title">
  <div class="title">
    <%= @chapter_lesson.name %>
  </div>
  <div class="links">
    <%= link_to material_icon.arrow_back, [:student, @chapter_lesson.chapter] %>
  </div>
</div>
<div class="row">
  <div class="column">
    <% @chapter_lesson.steps.each do |step| %>
      <div class="card">
        <div class="title-area">
          <h3 class="main-title"><%= step.print_title %></h3>
        </div>
        <div class="content-area">
          <div class="trix-editor">
            <%= step.content.html_safe %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
