<% content_for :title do %>
  <%= @ability_set.teaching_name %> - <%= @ability_set.cycle_name %><br>
  Nouvelle compétence
<% end %>
<% content_for :parent_url, admin_teaching_cycle_path(@ability_set.teaching_cycle) %>
<div class="row">
  <div class="column xs-12 offset-l1 l10">
    <div class="card">
      <%= render 'form' %>
    </div>
  </div>
</div>
