<div class="page-title">
</div>
<div class="row">
  <div class="column xs12 offset-l1 l10">
    <div class="card">
      <div class="content-area">
        <div class="text-center">
          <%= image_tag('shoshin-200.png') %>
          <h1>Shoshin - <em>L'esprit du débutant</em></h1>
          <h3>Plateforme d'acquisition de compétences</h3>
          <%= link_to 'Inscription', new_account_registration_path, class: 'btn' %>
          <%= link_to 'Connexion', new_account_session_path, class: 'btn' %>
        </div>
      </div>
    </div>
  </div>
</div>

