<% content_for :title, 'Accueil' %>
<div class="page-title">
  <div class="title">
    Accueil
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="content-area">
        <p>
          Bonjour <%= current_account.full_name %>
        </p>
      </div>
    </div>
  </div>
</div>

