<%= simple_form_for @question.becomes(Question), url: @question.new_record? ? teacher_exercise_questions_path(@question.exercise) : teacher_question_path(@question), defaults: { required: false } do |f| %>
  <div class="content-area">
    <%= f.input :content, as: :hidden %>
    <trix-editor input="question_content" class="trix-content"></trix-editor>
    <%= f.input :type, collection: Question.type_options, as: :radio_buttons, label: 'Quel type de réponse est attendue?' %>
    <p>
      Les réponses acceptées peuvent être saisie postérieurement.
    </p>
    <p>
      (*) Ces exercices devront être corrigés manuellement.
    </p>
  </div>
  <div class="actions-area">
    <%= f.button :submit, 'Enregistrer' %>
  </div>
<% end %>
