<% content_for :title, "Modifier une question" %>
<div class="page-title">
  <div class="title">Modifier une question</div>
  <div class="links">
    <%= link_to material_icon.arrow_back, [:teacher, @question.exercise] %>
    <%= link_to material_icon.delete, teacher_question_path(@question), method: :delete, data: { confirm: 'En êtes vous sûr?' } %>
  </div>
</div>
<div class="row">
  <div class="column xs12 l8 offset-l2">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Modifier une question</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
