<% content_for :title, "#{@group.display_name} - Nouceau chapitre" %>
<% content_for :parent_url, url_for([:teacher, @group]) %>
<div class="row">
  <div class="column">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Nouveau chapitre</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
