<% content_for :title do %>
  <%= @theme.teaching_name %> - <%= @theme.cycle_name %><br>
  Modifier un thème
<% end %>
<% content_for :parent_url, admin_teaching_cycle_path(@theme.teaching_cycle) %>
<div class="row">
  <div class="column xs11 offset-l1 l10">
    <div class="card">
      <%= render 'form' %>
    </div>
  </div>
</div>


