<% content_for :title, 'Modifier un enseignement' %>
<% content_for :parent_url, admin_teachings_path %>
<div class="row">
  <div class="column xs12 offset-l1 l10">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title"><%= @teaching.name %> - Modifier</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
