<% content_for :title, 'Modifier un enseignement' %>
<div class="page-title">
  <div class="title"><%= @teaching.name %> - Modifier</div>
  <div class="links">
    <%= link_to material_icon.arrow_back, admin_teachings_path %>
  </div>
</div>
<div class="row">
  <div class="column xs12 offset-l1 l10">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title"><%= @teaching.name %> - Modifier</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</div>
