.card {
  border-radius: 2px;
  margin: 0 0 16px 0;
  background: $white;
  .title-area {
    padding: 16px;
    @media all and (min-width: $small-min) {
      padding-left: 24px;
    }
    .main-title {
      font: 20px robotoregular, sans-serif;
      margin: 0;
      a {
        padding-left: 8px;
      }
    }
  }
  .title-area:last-child {
    padding-bottom: 24px;
  }
  .title-area:first-child {
    padding-top: 24px;
  }
  .tabs-area {
    padding: 16px 0;
  }
  .content-area {
    padding: 16px;
    @media all and (min-width: $small-min) {
      padding-left: 24px;
    }
  }
  .content-area:last-child {
    padding: 16px 16px 24px 16px;
  }
  .actions-area {
    clear: both;
    padding: 8px;
    text-align: right;
    .btn {
      display: inline-block;
      margin: 0;
      background: transparent;
      box-shadow: none;
      color: rgba(0,0,0,0.54);
      text-transform: uppercase;
      font-weight: bold;
      text-align: right;
      &:hover,
      &:focus {
        color: $primary;
      }
      &.link-destroy:hover,
      &.link-destroy:focus {
        color: $red;
      }
      &.link-add:hover,
      &.link-add:focus {
        color: $green;
      }
    }
  }
  .card-list {
    font: 16px robotoregular, sans-serif;
    height: 16px;
    padding: 16px 0;
  }
  .table-area {
    .header {
      height: 64px;
      padding-left: 24px;
      padding-right: 14px;
      font: 20px robotoregular, sans-serif;
      color: rgba(0,0,0,0.87);
      display: flex;
      align-items: center;
      i:first-child{
        margin-right: 8px;
      }
    }
    .table {
      overflow-x: auto;
      min-width: 100%;
      white-space: nowrap;
      table {
        width: 100%;
        border-spacing: 0;
        overflow: auto;
        th, td {
          &.text {
            text-align: left;
          }
          &.numeric, &.actions, &.boolean {
            text-align: right;
          }
          &.image {
            text-align: center;
          }
        }
        thead {
          tr {
            height: 56px;
            th {
              vertical-align: middle;
              color: rgba(0,0,0,0.54);
              font: 12px robotomedium, sans-serif;
              padding-left: 56px;
              &:first-of-type {
                padding-left: 24px;
              }
              &:last-child {
                padding-right: 24px;
              }
            }
          }
        }
        tbody {
          tr.collapsed, tr.expanded {
            cursor: pointer;
          }
          tr.subrow {
            transition: all 1s ease-in-out;
            &.hidden {
            display: none;
            }
          }
          tr {
            height: 48px;
            &:hover {
              background-color: #eee;
            }
            td {
              padding-left: 56px;
              border-top: 1px solid rgba(0,0,0,0.15);
              vertical-align: middle;
              color: rgba(0,0,0,0.87);
              font: 13px robotoregular, sans-serif;
              .btn {
                display: inline-block;
                height: 18px;
                width: 18px;
                padding: 3px;
                margin: 0;
                background: transparent;
                box-shadow: none;
                color: rgba(0,0,0,0.54);
                font-size: 18px;
                i { width: 18px; }
                & + .btn {
                  padding-left: 24px;
                }
                &:hover {
                  color: $primary;
                }
                &.link-destroy:hover {
                  color: $red;
                }
              }
              &:first-child {
                padding-left: 24px;
              }
              &:last-child {
                padding-right: 24px;
              }
            }
          }
        }
      }
    }
    .footer {
      height: 56px;
      width: 100%;
      font: 12px robotoregular, sans-serif;
      color: rgba(0,0,0,0.54);
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;
      padding: 0;
      .pagination {
        .next, .previous {
          color: rgba(0,0,0,0.54);
          display: inline-block;
          height: 18px;
          width: 18px;
          padding: 3px;
          margin: 0;
          text-align: center;
          i { width: 18px; }
          &:not([disabled]):hover {
            color: $primary;
          }
          &[disabled] {
            color: rgba(0,0,0,0.15);
            pointer-events: none;
          }
        }
        .next {
          margin-right: 14px;
        }
        .previous {
          margin-right: 24px;
        }
      }
      .page-info {
        height: 24px;
        margin-right: 32px;
      }
    }
  }
  .accordion-area {
    .parent {
      background: #fff;
      border-top: 1px solid #ddd;
      padding: 0;
      position: relative;
      &:last-child {
        border-bottom: 1px solid #ddd;
      }
      h4 {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
        padding: 12px 62px;
        &:before {
          color: $primary;
          content: '+';
          font-size: 24px;
          left: 24px;
          position: absolute;
        }
      }
      .overflow {
        overflow: hidden;
        .children {
          margin-bottom: -9999px;
          transition: margin-bottom 0s .5s, margin-top .5s;
          .child span {
            display: block;
            font-size: 16px;
            line-height: 24px;
            margin: 0;
            padding: 12px 16px 12px 62px;
            color: #fff;
          }
        }
      }
      &.selected {
        background: $secondary;
        padding-bottom: 10px;
        h4 {
          color: #fff;
          font-weight: bold;
          margin-bottom: 1px;
          &:before {
            color: #fff;
            content: '-';
            left: 26px;
          }
        }
        .overflow {
          .children {
            margin-bottom: 0;
            transition: margin-top .5s;
          }
        }
      }
      &:not(.selected) {
        h4 {
          cursor: pointer;
          &:hover {
            background-color: #eee;
          }
        }
      }
    }
  }
}
.empty-state {
  text-align: center;
  color: rgba(0,0,0,0.54);
  i {
    font-size: 60px;
  }
}
@media only screen and (min-width: $small-min) {
  .card {
    margin: 0 16px 16px 16px;
  }
}
