.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.column {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%;
}
.xs1 {
  flex: 1 0 8.333%;
  max-width: 8.333%;
}
.xs2 {
  flex: 1 0 16.667%;
  max-width: 16.667%;
}
.xs3 {
  flex: 1 0 25%;
  max-width: 25%;
}
.xs4 {
  flex: 1 0 33.333%;
  max-width: 33.333%;
}
.xs5 {
  flex: 1 0 41.667%;
  max-width: 41.667%;
}
.xs6 {
  flex: 1 0 50%;
  max-width: 50%;
}
.xs7 {
  flex: 1 0 58.333%;
  max-width: 58.333%;
}
.xs8 {
  flex: 1 0 66.667%;
  max-width: 66.667%;
}
.xs9 {
  flex: 1 0 75%;
  max-width: 75%;
}
.xs10 {
  flex: 1 0 83.333%;
  max-width: 83.333%;
}
.xs11 {
  flex: 1 0 91.667%;
  max-width: 91.667%;
}
.xs12 {
  flex: 1 0 100%;
  max-width: 100%;
}
.offset-xs0 {
  margin-left: 0;
}
.offset-xs1 {
  margin-left: 8.333%;
}
.offset-xs2 {
  margin-left: 16.666%;
}
.offset-xs3 {
  margin-left: 25%;
}
.offset-xs4 {
  margin-left: 33.333%;
}
.offset-xs5 {
  margin-left: 41.667%;
}
.offset-xs6 {
  margin-left: 50%;
}
.offset-xs7 {
  margin-left: 58.333%;
}
.offset-xs8 {
  margin-left: 66.667%;
}
.offset-xs9 {
  margin-left: 75%;
}
.offset-xs10 {
  margin-left: 83.333%;
}
.offset-xs11 {
  margin-left: 91.667%;
}
.justify-start-xs {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.justify-center-xs {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.justify-end-xs {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.justify-around-xs {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.justify-between-xs {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.item-start-xs {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.item-center-xs {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.item-end-xs {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.item-stretch-xs {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.item-baseline-xs {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.content-start-xs {
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

.content-center-xs {
  -webkit-align-content: center;
  align-content: center;
}

.content-end-xs {
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

.content-around-xs {
  -webkit-align-content: space-around;
  align-content: space-around;
}

.content-between-xs {
  -webkit-align-content: space-between;
  align-content: space-between;
}

.content-stretch-xs {
  -webkit-align-content: stretch;
  align-content: stretch;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
@media all and (min-width: $small-min) {
  .s1 {
    flex: 1 0 8.333%;
    max-width: 8.333%;
  }
  .s2 {
    flex: 1 0 16.667%;
    max-width: 16.667%;
  }
  .s3 {
    flex: 1 0 25%;
    max-width: 25%;
  }
  .s4 {
    flex: 1 0 33.333%;
    max-width: 33.333%;
  }
  .s5 {
    flex: 1 0 41.667%;
    max-width: 41.667%;
  }
  .s6 {
    flex: 1 0 50%;
    max-width: 50%;
  }
  .s7 {
    flex: 1 0 58.333%;
    max-width: 58.333%;
  }
  .s8 {
    flex: 1 0 66.667%;
    max-width: 66.667%;
  }
  .s9 {
    flex: 1 0 75%;
    max-width: 75%;
  }
  .s10 {
    flex: 1 0 83.333%;
    max-width: 83.333%;
  }
  .s11 {
    flex: 1 0 91.667%;
    max-width: 91.667%;
  }
  .s12 {
    flex: 1 0 100%;
    max-width: 100%;
  }
  .offset-s0 {
    margin-left: 0;
  }
  .offset-s1 {
    margin-left: 8.333%;
  }
  .offset-s2 {
    margin-left: 16.666%;
  }
  .offset-s3 {
    margin-left: 25%;
  }
  .offset-s4 {
    margin-left: 33.333%;
  }
  .offset-s5 {
    margin-left: 41.667%;
  }
  .offset-s6 {
    margin-left: 50%;
  }
  .offset-s7 {
    margin-left: 58.333%;
  }
  .offset-s8 {
    margin-left: 66.667%;
  }
  .offset-s9 {
    margin-left: 75%;
  }
  .offset-s10 {
    margin-left: 83.333%;
  }
  .offset-s11 {
    margin-left: 91.667%;
  }
  .justify-start-s {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .justify-center-s {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .justify-end-s {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .justify-around-s {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .justify-between-s {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .item-start-s {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .item-center-s {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .item-end-s {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .item-stretch-s {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .item-baseline-s {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .content-start-s {
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }

  .content-center-s {
    -webkit-align-content: center;
    align-content: center;
  }

  .content-end-s {
    -webkit-align-content: flex-end;
    align-content: flex-end;
  }

  .content-around-s {
    -webkit-align-content: space-around;
    align-content: space-around;
  }

  .content-between-s {
    -webkit-align-content: space-between;
    align-content: space-between;
  }

  .content-stretch-s {
    -webkit-align-content: stretch;
    align-content: stretch;
  }

  .first-s {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-s {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media all and (min-width: $medium-min) {
  .m1 {
    flex: 1 0 8.333%;
    max-width: 8.333%;
  }
  .m2 {
    flex: 1 0 16.667%;
    max-width: 16.667%;
  }
  .m3 {
    flex: 1 0 25%;
    max-width: 25%;
  }
  .m4 {
    flex: 1 0 33.333%;
    max-width: 33.333%;
  }
  .m5 {
    flex: 1 0 41.667%;
    max-width: 41.667%;
  }
  .m6 {
    flex: 1 0 50%;
    max-width: 50%;
  }
  .m7 {
    flex: 1 0 58.333%;
    max-width: 58.333%;
  }
  .m8 {
    flex: 1 0 66.667%;
    max-width: 66.667%;
  }
  .m9 {
    flex: 1 0 75%;
    max-width: 75%;
  }
  .m10 {
    flex: 1 0 83.333%;
    max-width: 83.333%;
  }
  .m11 {
    flex: 1 0 91.667%;
    max-width: 91.667%;
  }
  .m12 {
    flex: 1 0 100%;
    max-width: 100%;
  }
  .offset-m0 {
    margin-left: 0;
  }
  .offset-m1 {
    margin-left: 8.333%;
  }
  .offset-m2 {
    margin-left: 16.666%;
  }
  .offset-m3 {
    margin-left: 25%;
  }
  .offset-m4 {
    margin-left: 33.333%;
  }
  .offset-m5 {
    margin-left: 41.667%;
  }
  .offset-m6 {
    margin-left: 50%;
  }
  .offset-m7 {
    margin-left: 58.333%;
  }
  .offset-m8 {
    margin-left: 66.667%;
  }
  .offset-m9 {
    margin-left: 75%;
  }
  .offset-m10 {
    margin-left: 83.333%;
  }
  .offset-m11 {
    margin-left: 91.667%;
  }
  .justify-start-m {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .justify-center-m {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .justify-end-m {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .justify-around-m {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .justify-between-m {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .item-start-m {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .item-center-m {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .item-end-m {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .item-stretch-m {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .item-baseline-m {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .content-start-m {
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }

  .content-center-m {
    -webkit-align-content: center;
    align-content: center;
  }

  .content-end-m {
    -webkit-align-content: flex-end;
    align-content: flex-end;
  }

  .content-around-m {
    -webkit-align-content: space-around;
    align-content: space-around;
  }

  .content-between-m {
    -webkit-align-content: space-between;
    align-content: space-between;
  }

  .content-stretch-m {
    -webkit-align-content: stretch;
    align-content: stretch;
  }

  .first-m {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-m {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
@media all and (min-width: $large-min) {
  .l1 {
    flex: 1 0 8.333%;
    max-width: 8.333%;
  }
  .l2 {
    flex: 1 0 16.667%;
    max-width: 16.667%;
  }
  .l3 {
    flex: 1 0 25%;
    max-width: 25%;
  }
  .l4 {
    flex: 1 0 33.333%;
    max-width: 33.333%;
  }
  .l5 {
    flex: 1 0 41.667%;
    max-width: 41.667%;
  }
  .l6 {
    flex: 1 0 50%;
    max-width: 50%;
  }
  .l7 {
    flex: 1 0 58.333%;
    max-width: 58.333%;
  }
  .l8 {
    flex: 1 0 66.667%;
    max-width: 66.667%;
  }
  .l9 {
    flex: 1 0 75%;
    max-width: 75%;
  }
  .l10 {
    flex: 1 0 83.333%;
    max-width: 83.333%;
  }
  .l11 {
    flex: 1 0 91.667%;
    max-width: 91.667%;
  }
  .l12 {
    flex: 1 0 100%;
    max-width: 100%;
  }
  .offset-l0 {
    margin-left: 0;
  }
  .offset-l1 {
    margin-left: 8.333%;
  }
  .offset-l2 {
    margin-left: 16.666%;
  }
  .offset-l3 {
    margin-left: 25%;
  }
  .offset-l4 {
    margin-left: 33.333%;
  }
  .offset-l5 {
    margin-left: 41.667%;
  }
  .offset-l6 {
    margin-left: 50%;
  }
  .offset-l7 {
    margin-left: 58.333%;
  }
  .offset-l8 {
    margin-left: 66.667%;
  }
  .offset-l9 {
    margin-left: 75%;
  }
  .offset-l10 {
    margin-left: 83.333%;
  }
  .offset-l11 {
    margin-left: 91.667%;
  }
  .justify-start-l {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .justify-center-l {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
  }

  .justify-end-l {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .justify-around-l {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .justify-between-l {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .item-start-l {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .item-center-l {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .item-end-l {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .item-stretch-l {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .item-baseline-l {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
  }

  .content-start-l {
    -webkit-align-content: flex-start;
    align-content: flex-start;
  }

  .content-center-l {
    -webkit-align-content: center;
    align-content: center;
  }

  .content-end-l {
    -webkit-align-content: flex-end;
    align-content: flex-end;
  }

  .content-around-l {
    -webkit-align-content: space-around;
    align-content: space-around;
  }

  .content-between-l {
    -webkit-align-content: space-between;
    align-content: space-between;
  }

  .content-stretch-l {
    -webkit-align-content: stretch;
    align-content: stretch;
  }

  .first-l {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }

  .last-l {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
}
