button.embed::before {
  background-image: image_url('globe.svg');
  background-size: 18px 18px;
}
button.formula::before {
  background-image: image_url('sigma.svg');
  background-size: 15px 18px;
}
.dialog {
  textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
  }
}
.trix-content {
  font-family: GothamRounded-Book, sans-serif;
  h1 {
    color: $primary;
  }
  blockquote {
    list-style: none;
    border-left: 5px solid $primary;
  }
  strong {
    color: $secondary;
  }
  pre {
    font-family: GothamRounded-Book, sans-serif;
    font-size: inherit;
    background-color: $primary;
    color: white;
    white-space: pre-wrap;
    strong {
      color: $tertiary;
    }
  }
}
