<% content_for :title do %>
  <%= @teaching_cycle.teaching_name %> - <%= @teaching_cycle.cycle_name %><br>
  Compétences
<% end %>
<% content_for :parent_url, teacher_teaching_cycles_path %>
<div class="row">
  <div class="column xs12 offset-l1 l10">
    <div class="card">
      <div class="title-area">
        <h3 class="main-title">Compétences</h3>
      </div>
      <div class="accordion-area">
        <% @teaching_cycle.ability_sets.each do |ability_set| %>
          <div class="parent">
            <h4><%= ability_set.name %></h4>
            <div class="overflow">
              <div class="children">
                <% ability_set.ability_items.each do |ability_item| %>
                  <div class="child">
                    <span><%= ability_item.name %></span>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
