<% content_for :title, 'Ajouter une classe' %>
<div class="page-title">
  <div class="title">
    Ajouter une classe
  </div>
  <div class="links">
    <%= link_to material_icon.back_arrow, teacher_school_path(@classroom.school) %>
  </div>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <%= render 'form' %>
    </div>
  </div>
</div>
